# Created by .ignore support plugin (hsz.mobi)
/backup/
/tools/
/deploy/
/sql/
/temp/
/web.root/application/
!/web.root/application/config/settings.ini
!/web.root/application/config/viewmodels.ini
!/web.root/application/src/
/web.root/application/src/Bookstore/
/web.root/wp-includes/
/web.root/wp-admin/
/web.root/wp-blog-header.php
/web.root/license.txt
/web.root/wp-comments-post.php
/web.root/.htaccess
/web.root/xmlrpc.php
/web.root/wp-login.php
/web.root/wp-config-sample.php
/web.root/wp-load.php
/web.root/wp-cron.php
/web.root/wp-links-opml.php
/web.root/wp-signup.php
/web.root/info.php
/web.root/readme.html
/web.root/wp-trackback.php
/web.root/index.php
/web.root/wp-activate.php
/web.root/wp-settings.php
/web.root/wp-mail.php
/web.root/wp-config.php
/web.root/wp-content/plugins/hello.php
/web.root/wp-content/upgrade/
/web.root/wp-content/index.php
/web.root/wp-content/plugins/peanut/peanut.php
/web.root/wp-content/plugins/index.php
/web.root/wp-content/themes/
/web.root/wp-content/plugins/peanut/js/
/web.root/wp-content/plugins/akismet/
/web.root/wp-content/uploads/
/web.root/wp-content/plugins/peanut/src/
/web.root/wp-content/plugins/peanut/typings/
/web.root/wp-content/plugins/peanut/pnut/core/
/web.root/wp-content/plugins/peanut/pnut/extensions/
/web.root/wp-content/plugins/peanut/pnut/components/
/web.root/wp-content/plugins/peanut/pnut/templates/
/web.root/wp-content/plugins/peanut/pnut/dist/
/web.root/wp-content/plugins/peanut/pnut/examples/
/web.root/wp-content/plugins/peanut/pnut/images/
/doc/
.idea/workspace.xml
