# Created by .ignore support plugin (hsz.mobi)
/backup/
/tools/
/deploy/
/sql/
/temp/
/web.root/application/
!/web.root/application/config/settings.ini
!/web.root/application/config/viewmodels.ini
!/web.root/application/src/
/web.root/application/src/Bookstore/
/web.root/.htaccess
/web.root/readme.html
/web.root/index.php
/doc/
.idea/workspace.xml
