# Created by .ignore support plugin (hsz.mobi)
/backup/
/tools/
/deploy/
/dist/
/sql/
/web.root/application/
!/web.root/application/config/settings.ini
!/web.root/application/config/viewmodels.ini
!/web.root/application/src/
/web.root/application/src/Bookstore/
/web.root/wp-includes/
/web.root/wp-admin/
/web.root/wp-blog-header.php
/web.root/license.txt
/web.root/wp-comments-post.php
/web.root/.htaccess
/web.root/xmlrpc.php
/web.root/wp-login.php
/web.root/wp-config-sample.php
/web.root/wp-load.php
/web.root/wp-cron.php
/web.root/wp-links-opml.php
/web.root/wp-signup.php
/web.root/info.php
/web.root/readme.html
/web.root/wp-trackback.php
/web.root/index.php
/web.root/wp-activate.php
/web.root/wp-settings.php
/web.root/wp-mail.php
/web.root/wp-config.php
/doc/examples/
